//-- typo:start --//
$font-kepler: "Kepler"; // 400
$font-ProximaNova: "ProximaNova"; // 300, 400, 500, 600, 700
//-- typo:end --//
//-- colors:start --//
$color-purple: #4E2C9F;
$color-green: #5ED9CA;
$color-red: #e22c00;
//-- colors:end --//